body {
    background:#f5f7fa;
    font-family: 'Inter', sans-serif;
    margin:0;
}

.auth-container {
    width:380px;
    margin:70px auto;
    padding:30px;
    background:white;
    border-radius:12px;
    box-shadow:0 4px 25px rgba(0,0,0,0.15);
}

.auth-title {
    font-size:22px;
    font-weight:600;
    margin-bottom:25px;
    text-align:center;
}

input {
    width:100%;
    padding:12px;
    border:1px solid #ddd;
    border-radius:8px;
    margin-bottom:15px;
}

button {
    width:100%;
    padding:12px;
    border-radius:8px;
    border:none;
    font-size:15px;
}

.btn-primary {
    background:#2196f3;
    color:white;
    margin-bottom:10px;
}

.btn-google {
    background:white;
    border:1px solid #ccc;
}
